* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h2 {
	margin: 1rem;
	display: flex;
	justify-content: center;
	align-content: center;
}
header {
	font-weight: bolder;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	/* background-color: blanchedalmond; */
	/* border-style: solid; */
	margin: auto;
	height: 30rem;
	width: 60%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-color: black;
}
.course_list {
	height: 400px;
	width: 20rem;
	overflow: auto;
	border-style: solid;
}
#courselist_container :nth-child(even) {
	/* background-color: rgb(221, 239, 221); */
}
#selected_courses {
	height: 400px;
	width: 20rem;
	overflow: auto;
	border-style: solid;
}
p, span, button {
	display: flex;
	justify-content: center;
	margin-left: 4px;

}