/*  css reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h2 {
	margin: 1rem;
	display: flex;
	justify-content: center;
	align-content: center;
}
header {
	/* background-color: green; */
	margin: 1rem;
	display: flex;
	justify-content: center;
	/* align-items: center; */
}
/* .main {
	height: 10rem;
	width: 100rem;
	margin: auto;
	background-color: aquamarine;
	display: flex;
	justify-content: center;
	align-items: center;
} */
.container {
	margin: auto;
	background-color: blanchedalmond;
	height: 20rem;
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* flex-wrap: wrap; */
	border: 4px;
	border-color: black;
}
#courselist_container {
	height: 200px;
	width: fit-content;
	overflow: auto;
	border-style: solid;
}
.selected_courses {
	height: 200px;
	width: fit-content;
	overflow: auto;
	border-style: solid;
}
#courselist_container div:hover{
	background-color:rgb(149, 227, 199);
}
hr {
	color: black;
	/* margin: 1em; */
}
p, span {
	display: flex;
	justify-content: center;
}